.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper{
  width: 577px;
  margin-bottom: 8px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px;
  transition: opacity 300ms ease-in-out;
}

.collection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  width: 112px;
  height: 112px;
  opacity: 1;
  outline: none;
  position: relative;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: left, top;
  transition-timing-function: ease-in-out;
  user-select: none;
}

.collection:hover{
  background: #ddd;
}

.imgWrapper{
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 48px;
  justify-content: center;
  margin-top: 16px;
  width: 48px;
}
